:root {
    --speed: .400s;
    --svg-quote-left: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="78" height="55" viewBox="0 0 78 55" fill="none"%3E%3Cpath d="M62.1356 55C50.615 55 43.0605 46.6263 43.0605 33.3045C43.0605 13.7024 58.7361 4.18685 75.1671 0L76.4891 3.61592C59.6804 8.37371 52.5036 15.6055 52.5036 23.4083C52.5036 26.4533 54.0145 27.7855 56.6586 27.7855C59.4915 27.7855 60.8136 26.263 65.1574 26.263C71.5787 26.263 78 31.5917 78 40.346C78 49.1003 70.8232 55 62.1356 55ZM19.0751 55C7.55448 55 0 46.6263 0 33.3045C0 13.7024 15.6755 4.18685 31.9177 0L33.2397 3.61592C16.6199 8.37371 9.25424 15.6055 9.25424 23.4083C9.25424 26.4533 10.954 27.7855 13.4092 27.7855C16.2421 27.7855 17.753 26.263 22.0969 26.263C28.5182 26.263 34.9395 31.5917 34.9395 40.346C34.9395 49.1003 27.7627 55 19.0751 55Z" fill="%23424547"/%3E%3C/svg%3E');
    --svg-quote-right: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="78" height="55" viewBox="0 0 78 55" fill="none"%3E%3Cpath d="M15.8644 0C27.385 0 34.9395 8.3737 34.9395 21.6955C34.9395 41.2976 19.2639 50.8131 2.83295 55L1.51089 51.3841C18.3196 46.6263 25.4964 39.3945 25.4964 31.5917C25.4964 28.5467 23.9855 27.2145 21.3414 27.2145C18.5085 27.2145 17.1864 28.737 12.8426 28.737C6.42131 28.737 0 23.4083 0 14.654C0 5.89966 7.17676 0 15.8644 0ZM58.9249 0C70.4455 0 78 8.3737 78 21.6955C78 41.2976 62.3245 50.8131 46.0823 55L44.7603 51.3841C61.3801 46.6263 68.7458 39.3945 68.7458 31.5917C68.7458 28.5467 67.046 27.2145 64.5908 27.2145C61.7579 27.2145 60.247 28.737 55.9031 28.737C49.4818 28.737 43.0605 23.4083 43.0605 14.654C43.0605 5.89966 50.2373 0 58.9249 0Z" fill="%23424547"/%3E%3C/svg%3E');
}


.liste_citations .citation_bloc {
    transform: translateY(-32px);
}

.liste_citations .citation_bloc:first-child {
    transform: translateY(0) !important;
}

.citation_bloc {
    display: flex;
    background-repeat: no-repeat;
    background-size: fit-content;

    font-style: italic;
    letter-spacing: 0.1em;
    height: fit-content;
}

.citation_left {
    background-position: left top;
    background-image: var(--svg-quote-left);
}

.citation_right {
    flex-direction: row-reverse;
    text-align: end;
    background-position: right top;
    background-image: var(--svg-quote-right);
    width: 100%;

}

.citation_left .citation_content {
    padding-left: 60px;
    max-width: 500px;
    padding-top: 32px;
}

.citation_right .citation_content {
    padding-right: 60px;
    max-width: 500px;
    padding-top: 32px;
}

#guidebook {
    height: auto;
    width: 100%;
    overflow: hidden;
    padding: 0px 100px 0px 100px;
    margin-bottom: 100px;
}



button {
    background: none;
    color: var(--text-color);
}

/* Layout responsive */
.layout {
    display: grid;
    /*grid-template-rows: auto 1fr;*/
    /*grid-template-rows: fit-content(200px) 1fr; */
    grid-template-rows: auto minmax(0, 1fr);
    gap: 1rem;
    height: 900px;
}

/* Tablists */
.tabs {
    display: flex;
    gap: .5rem;
    overflow-x: auto;
    padding: .25rem;
}

#sec-™ .tabs {
    flex-wrap: wrap;
}


.tabs.primary {
    flex-direction: row;
}

.primary .optionButtonContent {
    padding: 8px 12px 8px 12px;
    font-size: 18px;
}

.secondary-wrap .tabs {
    flex-direction: row;
    width: 100%;
}

.secondary-wrap .tabs button {
    width: 100%;
}

#guidebook_content {
    display: grid;
    gap: 16px;
    height: 100%;
    height: 820px;
}

.chapitre {
    display: grid;
    gap: 64px;
}

.chapitre_height_limited {
    height: 400px;
    overflow: auto;
    padding-right: 16px;
}

.chapitre .recap_rp_title {
    width: fit-content;
}




.optionButton:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
}

/* Secondary group wrapper (one visible per catégorie) */
.secondary-wrap {
    display: none;
}

.secondary-wrap.active {
    display: block;
}


/* Panels container with height animation */
.panels {
    position: relative;
    overflow: auto;
    /* évite les sauts pendant la transition */
    transition: height var(--speed) ease;
}

/* Chaque panneau est empilé et on affiche seulement l’actif */
.panel {
    position: absolute;
    padding-top: 16px;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    overflow: auto;
    height: 100%;
    transition: opacity var(--speed) ease, transform var(--speed) ease, visibility 0s linear var(--speed);
}

.panel.active {
    position: relative;
    opacity: 1;
    transform: none;
    pointer-events: auto;
    visibility: visible;
    transition-delay: 0s, 0s, 0s;
}

.panel h2 {
    width: fit-content;
}


.secondary_tab {
    cursor: pointer;
    border: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.secondary_tab[aria-selected="false"] .separator {
    flex: 0;
    transition: flex 0.3s ease;
}

.secondary_tab[aria-selected="true"] .separator {
    transition: flex 0.3s ease;
    width: auto;
    background: linear-gradient(to right, transparent, var(--text-tint));
}

.secondary_tab[aria-selected="true"] span,
.secondary_tab:hover span {
    background: linear-gradient(45deg, var(--text-color), var(--text-tint));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: 12px;
}

.chapitre {
    display: grid;
    gap: 64px;
}

.chapitre_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.chapitre_content a {
    color: var(--text-tint);
}

.chapitre_content a:hover {
    color: var(--text-important);
}


p {
    line-height: 1.5em;
    max-width: 700px;
}

.guidebook_banniere {
    width: 100%;
    height: 180px;
}

.chapitre_illu {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.arsin_illu {
    border: 1px solid var(--stroke-quinary);
    padding: 8px;
}

.arsin_illu div {
    border: 1px solid var(--stroke-quinary);
    background-size: cover;
    background-position: center;
    height: 164px;
}

.subnav {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 4px;
    padding-left: 8px;
}

.navtitle {
    color: var(--text-secondary);
    font-size: 22px;
}


/* Respecte la réduction de mouvement */
@media (prefers-reduced-motion: reduce) {

    .panels,
    .panel {
        transition: none !important;
    }
}

@media (min-width: 1100px) {
    #guidebook {
        grid-template-columns: 240px 1fr;
        align-items: start;
    }

    .chapitre {
        grid-template-columns: 1fr 0.8fr;
    }

    .chapitre_inverse {
        grid-template-columns: 0.6fr 1fr;

    }

    .layout {
        align-items: start;
    }

    #guidebook_content {
        grid-template-columns: 250px 1fr;
        gap: 32px;
    }

    .subnav {
        flex-direction: column;
    }

    .panel .recap_rp {
        margin-bottom: 16px;
    }

    .secondary-wrap .tabs {
        flex-direction: column;
    }

    .tabs.primary {
        flex-direction: row;
        height: auto;
        /*position: static;
      position: sticky;*/
        top: 1rem;
    }

    #secondary {
        /* position: sticky;*/
        top: 1rem;
    }

}

@media (max-width: 1100px) {
    .secondary-wrap .tabs .separator {
        display: none;
    }

    .secondary-wrap .tabs .navtitle {
        display: none;
    }

}

@media (max-width: 800px)
{
    
}
